.card {
  width: 160px;
  margin: 0 20px 20px 0;
}
.card__img {
  margin-bottom: 10px;
}
.name {
  font-size: 14px;
}
.author {
  font-size: 12px;
}
.star {
  cursor: pointer;
}
.edit {
  margin-right: 15px;
  border: none;
  font-size: 17px;
  padding: 5px 10px;
  background-color: #FFC400;
  font-weight: bold;
  color: var(--wt);
  cursor: pointer;
}
.delete {
  margin-right: 15px;
  border: none;
  font-size: 17px;
  padding: 5px 10px;
  background-color: #FC5A67;
  font-weight: bold;
  color: var(--wt);
  cursor: pointer;
}
