.card {
  width: 160px;
  margin: 0 20px 20px 0;
}
.card__img {
  margin-bottom: 10px;
}
.name {
  font-size: 14px;
}
.author {
  font-size: 12px;
}
.btn {
  margin-top: 10px;
  padding: 10px;
  border: none;
  color: var(--wt);
  background-color: var(--blue);
  font-size: 20px;
  cursor: pointer;
}
