.form {
  background-color: var(--wt);
  height: 80%;
  width: 30%;
  border-radius: 20px;
  text-align: center;
  padding: 50px;
  box-shadow: 1px 1px 10px var(--wt);
}

::placeholder {
  color: #b7b7b7;
}
.input {
  margin-bottom: 40px;
  width: 100%;
  padding: 8px 15px;
  border: none;
  background-color: var(--blue);
  color: var(--wt);
  font-size: 18px;
  border-radius: 5px;
  outline: none;
}

.btn {
  border: none;
  color: var(--wt);
  background-color: var(--blue);
  font-size: 18px;
  padding: 15px 30px;
  border-radius: 10px;
  cursor: pointer;
}
