html,
body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  line-height: 16px;
}

:root {
  --blue: #2070c3;
  --blue-light: #4893E6;
  --bl: #000;
  --wt: #fff;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

* {
  box-sizing: border-box;
}
