.layout {
  display: grid;

  grid-template-columns: 270px minmax(320px, 1fr);
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "header header  "
    "sidebar main  ";
  min-height: 100vh;
}
.sidebar {
  grid-area: sidebar;
}

.header {
  grid-area: header;
}

.main {
  grid-area: main;
}
